page-profile {
    
    img{
        align-self: center;
        display: block;
        margin: auto;
        padding: 10px;
        height: 150px;
    }

    p{
        color: rgb(49, 49, 49);
    }

}
