page-signin {
    
    .text-center{
        text-align: center;
        color:  rgb(66, 63, 63);
    }

    img{
        align-self: center;
        display: block;
        margin: auto;
        padding: 10px;
        height: 200px;
    }

    .mt-5{
        margin-top: 10px;
    }


    .bg-dark{
        background-color: rgb(12, 12, 12);
        color: #fff;
    }

}
