@import './theme/variables.scss';

img{
    align-self: center;
    display: block;
    margin: auto;
    padding: 10px;
    height: 150px;
}

button{
    
}

ion-app.ios {
    font-family: roboto !important;
    font-size: 15px;
    }
    
    ion-app.android {
    font-family: roboto !important;
    font-size: 15px;
    }   
