
<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-list>
    <ion-item>
      <ion-label>Disponiblidade</ion-label>
      <ion-select [(ngModel)]="disponibilidade" (ionChange)="setDisponiblidade()">
        <ion-option value="0" selected>Todos</ion-option>
        <ion-option value="1">Disponivel</ion-option>
        <ion-option value="2">Em uso</ion-option>
        <ion-option value="3">suspenso</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>


    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    

      <ion-list>
        <ion-item-sliding *ngFor="let item of getCarsByCategoriaAndDisponiblidade()">
  
          <ion-item>
            <ion-thumbnail item-start>
              <img src="../../assets/icon/{{Categoria.nome}}.png" alt="">
            </ion-thumbnail>
            <h2>{{item.placa}}</h2>
            <h3> {{ item.modelo }} </h3>
            
            <ion-badge *ngIf="item.situacao == 1" item-end color="secondary" style="padding: 7px;border-radius: 15px;"> </ion-badge>

            <ion-badge *ngIf="item.situacao == 2" item-end color="success" style="padding: 7px;border-radius: 15px;"> </ion-badge>

            <ion-badge *ngIf="item.situacao == 3" item-end color="danger" style="padding: 7px;border-radius: 15px;"> </ion-badge>



          </ion-item>
  
          <ion-item-options side="left">
            <button ion-button color="danger">
            <ion-icon name="trash"></ion-icon>
              Remover
            </button>
            <button ion-button color="success">
            <ion-icon name="settings"></ion-icon>
              Editar
            </button>
          </ion-item-options>
  
          <ion-item-options side="right">
            <button ion-button color="primary">
              <ion-icon name="information" class="icon20"></ion-icon>
              Info
            </button>
            <button ion-button color="secondary">
              <ion-icon name="checkmark" class="icon20"></ion-icon>
              Agendar
            </button>
          </ion-item-options>
  
        </ion-item-sliding>
  
      </ion-list> 

      
  
  

  <ion-fab bottom right>
    <button ion-fab mini color="light" (click)="next()"><ion-icon name="add-circle" color="dark" class="add"></ion-icon></button>
  </ion-fab>


  
  
    
  
  
</ion-content>
