
<ion-header transparent>
  <ion-navbar no-border>
    
    <ion-title>
      {{title}}
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content >

  
  <ion-list>
    <ion-item>
      <ion-label>Disponiblidade</ion-label>
      <ion-select [(ngModel)]="disponibilidade" (ionChange)="initializeItems($event)">
        <ion-option value="" selected>Todos</ion-option>
        <ion-option value="0">Disponivel</ion-option>
        <ion-option value="1">Ocupado</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
    

      <ion-list>
          <button ion-item *ngFor="let item of Items" (click)="profile(item)">
            <ion-thumbnail item-start>
              <img src="../../assets/icon/{{Categoria.id}}.png" alt="">
            </ion-thumbnail>
            <h2>{{item.placa}}</h2>
            <h3> {{ item.modelo }} </h3>
            
            <ion-badge *ngIf="item.situacao == 0" item-end color="secondary" style="padding: 7px;border-radius: 15px;"> </ion-badge>

            <ion-badge *ngIf="item.situacao == 1" item-end color="danger" style="padding: 7px;border-radius: 15px;"> </ion-badge>

          </button>        
      </ion-list> 

      
  
  

  <ion-fab bottom right>
    <button ion-fab mini color="light" (click)="next()"><ion-icon name="add-circle" color="dark" class="add"></ion-icon></button>
  </ion-fab>


  
  
    
  
  
</ion-content>
