
<ion-header>
  <ion-navbar>
    <ion-title>Usuarios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="profile(item)">
      <ion-thumbnail item-start padding>
        <ion-icon name="contact"></ion-icon>
      </ion-thumbnail>
      <h2>{{item.nome_func}}</h2>
      <h3> {{ item.telefone }} </h3>
      
      <ion-badge *ngIf="item.disponibilidade == 1" item-end color="secondary" style="padding: 7px;border-radius: 15px;"> </ion-badge>

      <ion-badge *ngIf="item.disponibilidade == 0" item-end color="danger" style="padding: 7px;border-radius: 15px;"> </ion-badge>

    </button>        
</ion-list> 

<ion-fab bottom right>
  <button ion-fab mini color="light" (click)="register()">
    <ion-icon name="add-circle" color="dark" class="add"></ion-icon>
  </button>
</ion-fab>

</ion-content>
